.form {
  display: flex;
}

.input {
  font-family: 'Poppins', sans-serif;
  flex: 1;
  margin-right: 8px;

  box-shadow: var(--main-box-shadow);
  border: none;
  border-radius: 8px;
  padding: 10px;

  color: var(--main-font-color);
  font-size: 16px;
  font-weight: 600;
}

.nameButton {
  font-family: 'Poppins', sans-serif;
  border: none;
  border-radius: 8px;

  color: var(--secondary-font-color);
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;

  width: 80px;
  background-color: var(--main-background-color);
  box-shadow: var(--main-box-shadow);
}

.name {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;
}

.nameInner {
  border-radius: 16px;
  position: relative;
  padding: 32px;
  width: calc(100%-20px);
  max-width: 640px;
  background-color: #fff;
}